<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkt.backend.mapper.ActivityMapper">
    <insert id="insert" parameterType="Activity">
        INSERT INTO activity(title, description, location, start_time, end_time, signup_start, signup_end,
        image_url, visible_to_team, fee_rule, creator_id)
        VALUES (#{title}, #{description}, #{location}, #{startTime}, #{endTime}, #{signupStart}, #{signupEnd},
        #{imageUrl}, #{visibleToTeam}, #{feeRule}, #{creatorId})
    </insert>

    <select id="selectById" resultType="Activity">
        SELECT * FROM activity WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="Activity">
        SELECT * FROM activity ORDER BY create_time DESC
    </select>

    <select id="selectByCreator" resultType="Activity">
        SELECT * FROM activity WHERE creator_id = #{userId} ORDER BY create_time DESC
    </select>

    <select id="selectByCreatorId" parameterType="long" resultType="com.zkt.backend.entity.Activity">
        SELECT * FROM activity WHERE creator_id = #{creatorId} ORDER BY create_time DESC
    </select>
</mapper>
