<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkt.backend.mapper.AlbumPhotoMapper">
    <insert id="insert" parameterType="com.zkt.backend.entity.AlbumPhoto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO album_photo (activity_id, user_id, url, create_time)
        VALUES (#{activityId}, #{userId}, #{url}, NOW())
    </insert>

    <select id="selectByActivityId" parameterType="long" resultType="com.zkt.backend.entity.AlbumPhoto">
        SELECT * FROM album_photo WHERE activity_id = #{activityId} ORDER BY create_time DESC
    </select>
</mapper>
